html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    font-size: 16px;
    background-color: hsl(218, 22%, 67%);
}

.corte{
    display: block;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 750px;
    display: flex;
    flex-wrap: wrap;
}

.header{
    background-color: white;
    width: 100%;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 1px 1px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 13px -5px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 13px -5px rgba(0,0,0,0.75);
}

.header__title{
    margin-left: 50px;
    color: hsl(179, 62%, 43%);
}

.header__ofert{
    margin-left: 50px;
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}

.header__text{
    margin-left: 50px;
    margin-bottom: 2rem;
}

.subscription{
    background-color: hsl(179, 61%, 38%);
    color: white;
    width: 50%;
    border-radius: 0 0 0 5px;
}

.subscription__title{
    margin-left: 50px;
}

.subscription__ofert{
    margin-left: 50px;
 
}

.ofert__dolar{
    font-size: 35px;
}

.subscription__text{
    margin-left: 50px;
}

.subscription__button{
    border: none;
    margin-left: 50px;
    width: 250px;
    height: 40px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 35px;
}


.us{
    width: 50%;
    background-color: hsl(179, 62%, 45%);
    color: white;
    border-radius: 0 0 5px 0;
}

.us__title{
    margin-left: 50px;
}

.us__text{
    margin-left: 50px;
    width: 220px;
}

@media only screen and (max-width: 610px) {

    .header{
        text-align: center;
    }

    .header__title{
        margin-left: 0;
    }

    .header__ofert{
        margin-left: 0;
    }

    .header__text{
        margin-left: 0;
        padding: 0 10px;
    }

    .subscription{
        width: 100%;
        text-align: center;
    }
    .subscription__title{
        margin-left: 0;
    }

    .subscription__ofert{
        margin-left: 0;
    }

    .subscription__text{
        margin-left: 0;
    }

    .subscription__button{
        margin-left: 0;
    }

    .us{
        width: 100%;
        text-align: center;
    }

    .us__title{
        margin-left: 0;
        margin-bottom: 0;
    }

    .us__text{
        margin-top: 0;
        margin-left: 0;
        width: auto;
        padding: 20px;
    }

  }