html {
    box-sizing: border-box;

}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(204, 43%, 93%);
}

.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 670px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 5px 0 black;
}


.section__white{
    width: 100%;
    background-color: white;
}

.darkgreen,
.greenlight{
    width: 50%;
    color: white;
}

.section__white,
.darkgreen,
.greenlight{
    padding: 20px 5%;
}

.section__white .section__white__title{
    color: hsl(179, 62%, 43%);
    font-size: 25px;
}

.section__white .section__white__subtitle{
    color: hsl(71, 73%, 54%);
    font-size: 17px;
}

.section__white .section__white__paragraph{
    color: hsl(204, 43%, 93%);
    color: darkgray;
    font-weight: 400;
}

.darkgreen{
    background-color: rgb(0, 143, 143);
}

.darkgreen .darkgreen__title,
.greenlight .greenlight__title{
    font-size: 18px;
    margin: 0;
}

.darkgreen .darkgreen__price{
    font-size: 30px;
    margin: 20px 0 0;
}

.darkgreen .darkgreen__price span{
    font-size: initial;
    color: hsl(205, 19%, 82%);  
}

.darkgreen .darkgreen__paragraph{
    margin: 10px 0 20px;
}

.darkgreen .darkgreen__button{
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: inherit;
    padding: 15px 90px;
    font-weight: 700;
    box-shadow: 0 1px 2px 0 black;
    border-radius: 5px;
    transition: transform .5s;
}

.darkgreen .darkgreen__button:hover{
    transform: scale(1.1);
    transform: .5s;
}

.greenlight{
    background-color: rgb(15, 170, 170);
}

.greenlight .greenlight__paragraph{
    color: hsl(204, 43%, 93%);
    width: 75%;
}

@media only screen and (max-width: 690px){

    .container{
        height: auto;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 20px 0;
    }

    .darkgreen,
    .greenlight{
        width: 50%;
        width: 100%;
    }

    .darkgreen__button{
        pointer-events: none;
    }

   
}